/* Write your CSS here */
.configuration-bg-container {
  min-height: 30vh;
  background-color: #475569;
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-left: 50px;
  color: #f1f5f9;
}
